* {
  margin: 0px;
  padding: 0px;
  outline: none;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 17px;
  background-color: #cc80ff;
  font-style: italic;
}
a {
  text-decoration: none;
}
.showup {
  text-align: left;
  display: none;
}
.click {
  background-color: #f62525;
  padding: 10px 30px;
  width: 50%;
  margin: 0 25%;
  float: none;
  text-align: center;
  color: #1aff1a;
  overflow-x: hidden;
}
.jumbotron {
  background-image: url("../image/two.png");
  color: blue;
  text-align: center;
  font-weight: bold;
}
li {
  font-size: 1em;
}
head font-family: 'Lobster',
cursive;
}
#game {
  display: none;
  padding-top: 100px;
  overflow-x: hidden;
}
img {
  width: 200px;
  height: auto;
}
.competitor {
  font-size: 1em;
  text-align: center;
  font-family: monospace;
  padding-top: 5%;
}
#Fun {
  text-align: center;
  padding-left: 4%;
  font-size: 2em;
}